* {
  margin: 0;
  padding: 0;
  background: black;
  color: #fff;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}
